$navTextColor: #3a668e;
$fontFamily: "Ubuntu", sans-serif;

#langSelector {
  padding-top: 10px;
  max-width: 960px;
  margin: 0 auto;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
  
  a {
    margin-left: 5px;
    text-decoration: none;
    color:rgba(0,0,0,0);
    width:24px;
    height: 15px;
    display: inline-block;
    padding: none;
    background-color: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#navigation_top_wrapper {
  margin-top: 1%;
  text-align: center;

  #navigation_top {
    list-style-type: none;
    display: inline-block;
    border-bottom: 6px solid white;
    max-width: 960px;

    img {
      margin-bottom: -7px;
    }

    li {
      display: inline-block;
      margin-right: 0px;
      margin-left: 3px;
      background: white;
      color: #005580;
      box-sizing: border-box;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      &:last-child {
        cursor: default;
        max-width: 161px;
        width: auto;
        min-width:20px;
        text-align: left;
        padding-left: 10px;
      }
      
      a {
        text-decoration: none;
        color: inherit;
        font-family: $fontFamily;
        font-weight: 700;

        margin: 7px 13px 5px 0px;
        width: 100%;
        height: 100%;
        display: inline-block;

        &:hover {
          color: $navTextColor;
        }

        input[type="text"] {
          text-align: center;
          display: inline-block;
          width: 50%;
          outline: none;
          border: none;
          margin-left:10px;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 2px;
          color: rgb(32,32,32);
          background: #e0e0e0;
        }
      }
     
    }
  }
}

@media only screen and (max-width: 989px) {
  #sideNav {
    visibility: visible;
  }

  #navigation_top_wrapper {
    padding-top: 25px;
    z-index: 998;
    display: none;
    position: fixed;
    background: lighten($navTextColor,10%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;

    #navigation_top {
      z-index: 999;
      height: 100%;
      position: relative;
      display: inline-block;
      border: none;
      li {
        margin-top:10px;
        display: list-item;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &:last-child {
          display: none;
        }
      }
    }
  }

  #langSelector {
    padding: 0px;
    left: 50%;
    transform:translateX(-50%);
    position:fixed;
    width: 80%;
    top: -80vh;
    z-index: 99998;
    text-align: center;

    a {
      width: 40px;
      margin: 10px 10px 10px 10px;
      height: 20px;
      padding: 0px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  #langSelector {
    margin-top: 70px;
  }
}