$TextColor: #3a668e;
$academic: #b1ae4f;
$integrative: #fecd42;
$alternative: #e89698;
$experiences: #3684b4;

$bahnschrift_font: "Bahnschrift Regular";

@font-face {
  font-family: "Bahnschrift Regular";
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: local("Bahnschrift Regular"),
    url("../fonts/BAHNSCHRIFT.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"),
    url("https://fonts.googleapis.com/css?family=Ubuntu") format("woff");
}
.academic_category {
  background: $academic;
}
.integrative_category {
  background: $integrative;
}
.alternative_category {
  background: $alternative;
}
.experiences_category {
  background: $experiences;
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: $bahnschrift_font;
}
body {
  //background: url("../images/background/petra_bg1.png") no-repeat center center fixed;
  background: url("../images/background/petra_bg1.jpg") no-repeat center center fixed;
  background-color: #8bb7df;
  background-size: cover;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}

/* -------------------------------------------------------------------------------- */
/*                                       Home                                       */
/* -------------------------------------------------------------------------------- */

#page__home--section__one {
  padding: 10px;
  padding-top: 20px;
  max-width: 960px;
  margin: 0 auto;
  color: $TextColor;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 20px;

  section {
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }
  #section__statement--mission {
    color: $TextColor;
  }
  #search__title {
    text-align: left;
    color: white;
    font-family: $bahnschrift_font;
    font-weight: lighter;
  }
  #section__search--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    border-radius: 0;

    form {
      width: 100%;
    }
    input[type="text"] {
      width: 90%;
      left: 0;
      outline: none;
      border: none;
      padding: 5px;
      font-size: 1.5em;
      display: inline-block;
      color: $TextColor;
    }
    input[type="submit"] {
      background: none;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid #777;
      border-bottom: 10px solid transparent;
      outline: none;
      border-right: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
  #section__questionaire {
    height: 260px;
    text-align: left;
    font-family: $bahnschrift_font;

    .title {
      color: #274f91;
      font-family: "DejaVu Sans", sans-serif;
      font-weight: bold;
      font-size: 1.3em;
    }

    .question {
      font-family: $bahnschrift_font;
      color: #434343;
      font-weight: lighter;
      text-decoration: underline;
      font-size: 1em;
    }
    .answers {
      margin-bottom: 20px;
      text-align: left;
      display: inline-block;
      height: 140px;
    }
    .answers label {
      display: block;
      margin-bottom: 10px;
    }
    button {
      font-size: 1em;
      background-color: #ececec;
      color: black;
      border: 0px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: lightgray;
    }
    .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: 1;
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
    .active-slide {
      opacity: 1;
      z-index: 2;
      height: 170px;
    }
    .quiz-container {
      position: relative;
      height: 170px;
    }
    #next,
    #previous,
    #submit_btn {
      position: relative;
      margin-right: 10px;
      z-index: 10;
      float: right;
    }
    #question_nr {
      position: relative;
      top: 175px;
      font-family: "Verdana";
      color: #767676;
      font-size: 0.9em;
    }
    p {
      color: #e89698;
      display: inline-block;
      line-height: 40px;
    }
  }
}
#page__home--section__two {
  padding: 10px;
  margin: 0 auto;
  max-width: 960px;

  .tag_title {
    text-align: left;
    color: white;
    font-family: $bahnschrift_font;
    font-weight: lighter;
  }

  .search_word_tags {
    list-style-type: none;
    max-width: 960px;
    text-align: left;

    li {
      display: inline-block;
      padding: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 6px;
      color: $TextColor;
      background-color: #ffffff;
      font-weight: 600;
      font-size: 1.2em;
      -webkit-box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);
      box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);
      -webkit-transition: color 0.1s ease-in-out;
      -o-transition: color 0.1s ease-in-out;
      transition: color 0.1s ease-in-out;

      a {
        text-decoration: none;
        color: $TextColor;
        font-family: "Ubuntu", sans-serif;

        &:hover {
          color: lighten($TextColor, 10%);
        }
      }
    }
  }
}
#page__home--section__three {
  padding: 10px;
  padding-top: 20px;
  max-width: 960px;
  min-height: 400px;
  height: auto;
  margin: 0 auto;
  color: $TextColor;
  font-weight: 500;

  .title {
    text-align: left;
    color: white;
    font-family: $bahnschrift_font;
    font-weight: lighter;
  }

  .some-page-wrapper {
    p {
      color: white;
      text-align: left;
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2em;
    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;

      .column {
        max-width: 240px;
        padding: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        #column_aca {
          .whitePart {
            .title_container {
              .post_title {
                background-color: $academic;
              }
            }
          }
        }
        #column_int {
          .whitePart {
            .title_container {
              .post_title {
                background-color: $integrative;
              }
            }
          }
        }
        #column_alt {
          .whitePart {
            .title_container {
              .post_title {
                background-color: $alternative;
              }
            }
          }
        }
        #column_exp {
          .whitePart {
            .title_container {
              .post_title {
                background-color: $experiences;
              }
            }
          }
        }

        .categories_home {
          font-family: "Bahnschrift Regular";
          font-weight: lighter;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: white;
          padding: 8px 50px 8px 50px;
          border-radius: 4px;
          text-align: center;
          text-decoration: none;
          &:hover {
            color: rgba(240, 240, 240, 1);
          }
        }

        .academic-column {
          border-radius: 8px;
          border: 4px solid white;
          padding: 5px;
          padding-bottom: 25px;
          background-color: $academic;
          -webkit-transition: background-color 0.1s ease-in-out;
          -o-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out;
          &:hover {
            background-color: darken($academic, 2%);
          }
          .categories_home {
            background: lighten($academic, 5%);
          }
          footer {
            .action {
              background: lighten($academic, 10%);
            }
          }
        }
        .integrative-column {
          border-radius: 8px;
          border: 4px solid white;
          padding: 5px;
          padding-bottom: 25px;
          background-color: $integrative;
          -webkit-transition: background-color 0.1s ease-in-out;
          -o-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out;
          &:hover {
            background-color: darken($integrative, 2%);
          }
          .categories_home {
            background: lighten($integrative, 5%);
          }
          footer {
            .action {
              background: lighten($integrative, 10%);
            }
          }
        }
        .alternative-column {
          border-radius: 8px;
          border: 4px solid white;
          padding: 5px;
          padding-bottom: 25px;
          background-color: $alternative;
          -webkit-transition: background-color 0.1s ease-in-out;
          -o-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out;
          &:hover {
            background-color: darken($alternative, 2%);
          }
          .categories_home {
            background: lighten($alternative, 5%);
          }
          footer {
            .action {
              background: lighten($alternative, 10%);
            }
          }
        }
        .experiences-column {
          border-radius: 8px;
          border: 4px solid white;
          padding: 5px;
          padding-bottom: 25px;
          background-color: $experiences;
          -webkit-transition: background-color 0.1s ease-in-out;
          -o-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out;
          &:hover {
            background-color: darken($experiences, 2%);
          }

          .categories_home {
            background: lighten($experiences, 5%);
          }
          footer {
            .action {
              background: lighten($experiences, 10%);
            }
          }
        }

        p {
          font-family: "Bahnschrift Regular";
          font-weight: lighter;
          padding-top: 5px;
          padding-left: 5px;
        }
        .featured_post {
          height: 380px;
          .post_title_featured {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: left;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 5px;

            a {
              color: white;
              border-radius: 4px;
              font-family: "Bahnschrift Regular";
              font-size: 1em;
              font-weight: lighter;
              text-decoration: none;

              u {
                text-decoration: none;
                //border-bottom: 1px solid white;
              }
            }
          }
        }
        .featured_title {
          padding-top: 10px;
          padding-bottom: 2px;
        }
        .img {
          height: 150px;
          width: 100%;
          border-radius: 4px;
          opacity: 1;
          -webkit-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        .category_title {
          font-family: "Bahnschrift Regular";
          font-weight: lighter;
          color: white;
          font-size: 0.8em;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          padding-top: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid white;

          &::first-letter {
            font-size: 150%;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .post {
          padding: 5px;
          padding-bottom: none;
          font-family: "Bahnschrift Regular";
          font-weight: lighter;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 3px;
          font-size: 0.9em;
          overflow: hidden;

          .title_container {
            width: 100%;
            margin: 0 auto;

            .post_title {
              height: 65px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              padding: 5px;
              text-align: left;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;

              a {
                color: #fff;
                font-family: "Bahnschrift Regular";
                font-weight: lighter;
                text-decoration: none;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                height: 60px;
                margin: 0 auto;
                font-size: 1.17em;
                line-height: 1;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          .published {
            display: block;
          }

          .name {
            display: block;
          }

          .excerpt {
            margin-top: 10px;
            font-family: "Bahnschrift Regular";
            font-weight: 100;
            color: white;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 6px;
            font-size: 0.9em;
            overflow-y: hidden;
          }
        }

        footer {
          height: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          .action {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 4px;
            font-size: 0.9em;
            text-decoration: none;
            color: rgba(90, 90, 90, 0.6);
            -webkit-transition: color 0.1s linear;
            -o-transition: color 0.1s linear;
            transition: color 0.1s linear;

            &:hover {
              color: rgba(240, 240, 240, 1);
            }
          }
        }
        .whitePart {
          background: white;
          border-bottom: 4px solid white;
          margin-bottom: 20px;

          .normal_post {
            .img_normal {
              margin: 0 auto;
              width: 100%;
              height: 150px;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .Academic {
          background: $academic;
        }
        .Academic_p {
          color: $academic;
        }

        .Integrative {
          background: $integrative;
        }
        .Integrative_p {
          color: $integrative;
        }

        .Alternative {
          background: $alternative;
        }
        .Alternative_p {
          color: $alternative;
        }

        .Experiences {
          background: $experiences;
        }
        .Experiences_p {
          color: $experiences;
        }
      }
    }
  }
}
#page__home--section__four {
  padding: 10px;
  margin-top: 20px;
  padding-top: 20px;
  max-width: 960px;
  margin: 0 auto;
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: justify;
    -ms-flex-align: justify;
    align-items: justify;
  }

  .blue-column {
    padding-top: 10px;
    .fb-page {
      z-index: 1;
    }

    #newsletter {
      input[type="text"] {
        outline: none;
        border: none;
        padding: 5px;
        opacity: 0.8;
        font-size: 1.5em;
        display: inline-block;
      }
    }
  }

  .green-column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;

    .top_article_title {
      font-family: "Bahnschrift Regular";
      font-weight: lighter;
      letter-spacing: 0.2em;
      color: white;
      text-align: left;
      font-size: 1.5em;
      text-transform: uppercase;

      u {
        text-decoration: none;
        border-bottom: 1px solid white;
      }

      &::first-letter {
        font-size: 150%;
      }
    }
    .top_article {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      margin-top: 20px;
      height: 360px;
      border-radius: 8px;
      border: 4px solid white;
      text-align: left;
      .top {
        height: 65%;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .bottom {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        height: 35%;
        width: 100%;
        background: #fff;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .published {
          float: right;
          color: rgba(200, 200, 200, 0.8);
        }

        .excerpt {
          overflow: hidden;
          text-align: left;
          color: $TextColor;
          max-height: 75px;
          display: inline-block;
        }
        .dot {
          vertical-align: top;
          display: inline-block;
        }
      }
      .title {
        font-family: "Bahnschrift Regular";
        color: $TextColor;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3em;

        &::first-letter {
          font-size: 150%;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*                                  The Foundation                                  */
/* -------------------------------------------------------------------------------- */
#page__theFoundation {
  
.inner-page-content {
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #7d7d7d;
  width: 70%;
  h4 {
    color: $TextColor;
  }
}
}

/* -------------------------------------------------------------------------------- */
/*                                    Donations                                     */
/* -------------------------------------------------------------------------------- */
#page_donations_wrapper {
  padding: 10px;
  padding-top: 50px;

  #donations_title{
    
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
    font-family: $bahnschrift_font;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 2em;

    &::first-letter {
      font-size: 150%;
    }
    u {
      text-decoration: none;
      font-weight: 100;
      border-bottom: 1px solid white;
    }
  
  }
  #foundation_title{
    
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
    font-family: $bahnschrift_font;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 2em;

    &::first-letter {
      font-size: 150%;
    }
    u {
      text-decoration: none;
      font-weight: 100;
      border-bottom: 1px solid white;
    }
  
  }
  #page_donations {
    min-height: 300px;

    background: white;
    max-width: 960px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 8px;
    padding-top: 30px;
    text-align: left;

    #img_overlay {
      height: 250px;
      width: 100%;
      #img {
        background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(rgba(58, 102, 142, 0.5)),
            to(rgba(58, 102, 142, 0.5))
          ),
          url("../images/background/donations_header.jpg");
        background: -webkit-linear-gradient(
            bottom,
            rgba(58, 102, 142, 0.5),
            rgba(58, 102, 142, 0.5)
          ),
          url("../images/background/donations_header.jpg");
        background: -o-linear-gradient(
            bottom,
            rgba(58, 102, 142, 0.5),
            rgba(58, 102, 142, 0.5)
          ),
          url("../images/background/donations_header.jpg");
        background: linear-gradient(
            0deg,
            rgba(58, 102, 142, 0.5),
            rgba(58, 102, 142, 0.5)
          ),
          url("../images/background/donations_header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 250px;
        background-position: center;
      }
      .title {
        width: 100px;
        height: 50px;
        margin-top: -25px;
        margin-left: 25px;
        border-radius: 8px;
        background: $TextColor;
        color: white;
        line-height: 50px;
        text-align: center;
      }
    }

    #wrapper_content {
      padding: 10px;

      #table_wrap {
        overflow-x: scroll;
        margin: 0 auto;
        margin-left: 25px;
        margin-right: 25px;
        table {
          margin-top: 20px;
          padding: 20px;
          border-collapse: collapse;
          border-radius: 8px;

          #header {
            -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
            font-size: 125%;
          }

          tr {
            th {
              padding: 5px;
            }
            td {
              margin: 0;
              border: none;
              padding: 5px;
            }
          }
        }
      }
      p {
        color: $TextColor;
        font-size: 21px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*                                       News                                       */
/* -------------------------------------------------------------------------------- */
#page__news {
  #page_news_wrapper {
    padding: 10px;
    padding-top: 50px;

    #news_articles_title {
      max-width: 960px;
      text-align: left;
      font-family: $bahnschrift_font;
      margin-top: 10px;
      margin-bottom: 10px;
      margin: 0 auto;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 2em;
      padding-left: 10px;

      &::first-letter {
        font-size: 150%;
      }
      u {
        text-decoration: none;
        font-weight: 100;
        border-bottom: 1px solid white;
      }
    }
    .news_wrapper {
      background: white;
      max-width: 960px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 30px;
      padding: 10px;
      border-radius: 8px;
      text-align: left;

      hr {
        opacity: 0.2;
      }

      table {
        border-collapse: collapse;
        tr {
          td {
            padding: 5px;
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
      .featured_article {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 960px;
        margin: 0 auto;

        .article_container {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border: 3px solid white;
          border-bottom: none;
          overflow: auto;
          //text-align: left;
          padding: 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;

          .post-thumb-wrap {
            height: 300px;
            width: 100%;
            margin: 0 auto;
            display: inline-block;
            position: relative;

            .imgTitle {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              position: absolute;
              z-index: 500;
              display: block;
              text-decoration: none;
              font-size: 2em;
              color: white;
              font-weight: bold;
              width: 100%;
              height: 300px;
              text-align: center;
              padding-top: 130px;
              text-transform: uppercase;

              &:hover {
                color: #eee;
              }
            }
            .post-thumb {
              -webkit-filter: blur(3px);
              filter: blur(3px);
              height: 300px;
              width: 100%;
              &:hover {
                -webkit-filter: none;
                filter: none;
              }
            }
            .Academic {
              background: $academic;
            }
            .Integrative {
              background: $integrative;
            }
            .Alternative {
              background: $alternative;
            }
            .Experiences {
              background: $experiences;
            }
            .News {
              background: lighten($experiences, 25%);
            }
          }
          .post-content {
            display: block;
            color: $TextColor;
            padding-bottom: 20px;

            .title_container {
              margin-top: 10px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              padding: 5px;
              display: block;
              text-align: left;
            }
            .post-title {
              font-family: "Bahnschrift Regular";
              text-transform: uppercase;
              font-weight: lighter;
              font-size: 200%;
              color: $TextColor;
              text-decoration: none;
              text-align: left;
              -webkit-transition: color 0.2s ease-in-out;
              -o-transition: color 0.2s ease-in-out;
              transition: color 0.2s ease-in-out;
              &:hover {
                color: darken($TextColor, 5%);
              }
            }
            .info_container {
              color: rgba(200, 200, 200, 0.7);
              font-weight: lighter;
              display: block;
            }

            .Academic {
              background: $academic;
            }
            .Integrative {
              background: $integrative;
            }
            .Alternative {
              background: $alternative;
            }
            .Experiences {
              background: $experiences;
            }
            .News {
              background: lighten($experiences, 25%);
            }

            .readmore {
              display: block;
              width: 100px;
              text-align: center;
              color: white;
              text-decoration: none;
              padding: 10px;
              margin: 0 auto;
            }
            p {
              margin-top: 10px;
              margin-left: 5px;
              text-align: left;
              padding: 5px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
            }
          }
        }

        .footer {
          max-width: 960px;
          height: 30px;
          border: 3px solid white;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border-top: none;

          a {
            text-align: center;
            text-decoration: none;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*                                    Categories                                    */
/* -------------------------------------------------------------------------------- */
#page__categories {
  padding: 10px;

  .categories_section_one {
    padding: 10px;
    max-width: 960px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    margin: 75px auto;
    border: 6px solid white;
    font-family: $bahnschrift_font;
    -webkit-box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);
    box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);

    .category_title {
      margin: 0 auto;
      text-align: center;
      font-family: $bahnschrift_font;
      font-size: 4em;
      text-transform: uppercase;

      &::first-letter {
        font-size: 150%;
      }
      u {
        text-decoration: none;
        border-bottom: 2px solid white;
      }
    }

    h3 {
      font-family: inherit;
      font-size: 1.1em;
      text-align: center;
      font-weight: lighter;
    }
    .search_wrap {
      padding-top: 20px;
      width: auto;
      margin: 0 auto;

      label {
        font-family: $bahnschrift_font;
        margin-right: 20px;
      }

      //Categories home searchbar
      input[type="text"] {
        width: 50%;
        left: 0;
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1em;
        display: inline-block;
      }
    }
  }

  .categories_section_two {
    max-width: 960px;
    margin: auto;

    #top_articles_title {
      text-align: left;
      font-family: $bahnschrift_font;
      margin-top: 10px;
      margin-bottom: 10px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 2em;
      padding-left: 10px;

      &::first-letter {
        font-size: 150%;
      }
      u {
        text-decoration: none;
        border-bottom: 1px solid white;
      }
    }
    .some-page-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.2em;

      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        align-content: flex-start;
        .box_wrapper {
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;
          padding: 10px;

          .column {
            box-sizing: border-box;
            padding: none;
            height: 250px;
            border: 4px solid white;
            border-radius: 10px;
            min-width: 300px;

            .top {
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              height: 55%;
              width: 100%;
            }
            .bottom {
              height: 45%;
              width: 100%;
              padding: 10px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              overflow: hidden;
              text-align: left;

              a {
                text-decoration: none;
                color: white;
                font-family: $bahnschrift_font;
                text-align: left;
                font-size: 0.85em;
              }
              .excerpt {
                color: white;
                font-size: 0.7em;
                max-height: 65px;
                overflow: hidden;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .categories_section_three {
    max-width: 960px;
    margin: 0 auto;

    .featured_article {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 auto;
      .title {
        text-align: left;
        font-family: $bahnschrift_font;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 2em;
        padding-left: 10px;

        u {
          text-decoration: none;
          border-bottom: 1px solid white;
        }
        &::first-letter {
          font-size: 150%;
        }
      }

      .article_container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 3px solid white;
        border-bottom: none;
        overflow: auto;
        text-align: left;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .post-content {
          color: white;

          .post-title {
            font-family: $bahnschrift_font;
            font-weight: lighter;
            font-size: 200%;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            u {
              text-decoration: none;
              border-bottom: 1px solid white;
            }
          }

          #wrap {
            margin-top: 10px;
            box-sizing: border-box;

            .container {
              text-align: center;

              .left-div {
                display: inline-block;
                max-width: 350px;
                text-align: left;
                border-radius: 3px;
                //margin: 15px;
                vertical-align: top;
                img {
                  min-width: 100px;
                  max-width: 350px;
                  margin: 0 auto;
                  border-radius: 8px;
                }
              }
              .right-div {
                display: inline-block;
                max-width: 450px;
                text-align: left;
                border-radius: 3px;

                p {
                  margin-top: 20px;
                  padding: 10px;
                }
              }
            }
          }
        }
      }

      .footer {
        max-width: 960px;
        height: 30px;
        border: 3px solid white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: none;

        a {
          text-align: center;
          color: white;
          text-decoration: none;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  .categories_section_four {
    max-width: 960px;
    margin: 0 auto;

    #top_articles_title {
      text-align: left;
      font-family: $bahnschrift_font;
      margin-top: 10px;
      margin-bottom: 10px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 2em;
      padding-left: 10px;

      u {
        text-decoration: none;
        border-bottom: 1px solid white;
      }
      &::first-letter {
        font-size: 150%;
      }
    }
    .some-page-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.2em;

      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;

        .column {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 10px 10px 10px 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          padding: none;
          height: 250px;
          border: 4px solid white;
          border-radius: 10px;
          min-width: 300px;

          .top {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 55%;
            width: 100%;
          }
          .bottom {
            height: 45%;
            width: 100%;
            padding: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            text-align: left;

            a {
              text-decoration: none;
              color: white;
              font-family: $bahnschrift_font;
              text-align: left;
              font-size: 0.85em;
            }
            .excerpt {
              color: white;
              font-size: 0.7em;
              max-height: 65px;
              overflow: hidden;
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .categories_section_five {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 960px;
    margin: 0 auto;

    #row {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-content: justify;

      .column {
        display: flex;
        width: 100%;
        align-content: justify;
        flex-direction: column;
      }
    }

    .blue-column {
      padding-top: 10px;
      .fb-page {
        z-index: 1;
        float: none;
      }
    }

    .green-column {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px;

      .top_article_title {
        font-family: "Bahnschrift Regular";
        font-weight: lighter;
        letter-spacing: 0.2em;
        color: white;
        text-align: left;
        font-size: 1.5em;
        text-transform: uppercase;

        u {
          text-decoration: none;
          border-bottom: 1px solid white;
        }

        &::first-letter {
          font-size: 150%;
        }
      }
      .top_article {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin-top: 20px;
        height: 360px;
        border-radius: 8px;
        border: 4px solid white;
        text-align: left;
        .top {
          height: 60%;
          width: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        .bottom {
          padding-left: 10px;
          padding-top: 10px;
          padding-right: 10px;
          height: 40%;
          width: 100%;
          background: #fff;
          overflow: hidden;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;

          .published {
            float: right;
            color: rgba(200, 200, 200, 0.8);
          }

          .excerpt {
            overflow: hidden;
            text-align: left;
            color: $TextColor;
            max-height: 75px;
            display: inline-block;
          }
          .dot {
            vertical-align: top;
            display: inline-block;
          }
        }
        .title {
          font-family: "Bahnschrift Regular";
          color: $TextColor;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.3em;

          &::first-letter {
            font-size: 150%;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .categories_section_six {
    max-width: 960px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    border: 6px solid white;
    font-family: $bahnschrift_font;
    -webkit-box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);
    box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);

    .category_title {
      margin: 0 auto;
      text-align: center;
      font-family: $bahnschrift_font;
      font-size: 1.2em;
      text-transform: uppercase;
      text-decoration: none;
      color: white;

      &::first-letter {
        font-size: 150%;
      }
    }

    h3 {
      margin-top: 30px;
      font-family: inherit;
      font-size: 1.1em;
      text-align: center;
      font-weight: lighter;
    }
    .search_wrap {
      padding-top: 50px;
      width: auto;
      margin: 0 auto;

      label {
        font-family: $bahnschrift_font;
        margin-right: 20px;
      }

      input[type="text"] {
        width: 50%;
        left: 0;
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1em;
        display: inline-block;
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*                                   Search page                                    */
/* -------------------------------------------------------------------------------- */
#page_search_wrapper {
  padding: 10px;
  padding-top: 50px;
  #search_wrapper {
    background: white;
    max-width: 960px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 4px;
    color: $TextColor;

    h1 {
      text-align: left;
      color: inherit;
      margin-left: 10px;
      font-weight: lighter;
      margin-top: 20px;
      margin-bottom: 10px;

      u {
        text-decoration: none;
      }
    }
    form {
      text-align: center;
      margin: 0 auto;

      input[type="text"] {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 97%;
        outline: none;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        background: #eee;
      }
    }

    .featured_article {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      max-width: 960px;
      margin: 0 auto;

      .article_container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 3px solid white;
        border-bottom: none;
        overflow: auto;
        //text-align: left;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .post-thumb-wrap {
          height: 300px;
          width: 100%;
          margin: 0 auto;
          display: inline-block;
          position: relative;

          .imgTitle {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            z-index: 500;
            display: block;
            text-decoration: none;
            font-size: 2em;
            color: white;
            font-weight: bold;
            width: 100%;
            height: 300px;
            text-align: center;
            padding-top: 130px;
            text-transform: uppercase;

            &:hover {
              color: #eee;
            }
          }
          .post-thumb {
            -webkit-filter: blur(3px);
            filter: blur(3px);
            height: 300px;
            width: 100%;
            &:hover {
              -webkit-filter: none;
              filter: none;
            }
          }
          .Academic {
            background: $academic;
          }
          .Integrative {
            background: $integrative;
          }
          .Alternative {
            background: $alternative;
          }
          .Experiences {
            background: $experiences;
          }
          .News {
            background: lighten($experiences, 25%);
          }
        }
        .post-content {
          display: block;
          color: $TextColor;
          padding-bottom: 20px;

          .title_container {
            margin-top: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5px;
            display: block;
            text-align: left;
          }
          .post-title {
            text-transform: uppercase;
            font-family: $bahnschrift_font;
            font-weight: lighter;
            font-size: 200%;
            color: $TextColor;
            text-decoration: none;
            text-align: left;
            -webkit-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            &:hover {
              color: darken($TextColor, 5%);
            }
          }
          .info_container {
            color: rgba(200, 200, 200, 0.7);
            font-weight: lighter;
            display: block;
          }

          .Academic {
            background: $academic;
          }
          .Integrative {
            background: $integrative;
          }
          .Alternative {
            background: $alternative;
          }
          .Experiences {
            background: $experiences;
          }
          .News {
            background: lighten($experiences, 25%);
          }

          .readmore {
            display: block;
            width: 100px;
            text-align: center;
            color: white;
            text-decoration: none;
            padding: 10px;
            margin: 0 auto;
          }
          p {
            margin-top: 10px;
            margin-left: 5px;
            text-align: left;
            padding: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }

      .footer {
        max-width: 960px;
        height: 30px;
        border: 3px solid white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: none;

        a {
          text-align: center;
          text-decoration: none;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*                                     Sidenav                                      */
/* -------------------------------------------------------------------------------- */
#menuBtn {
  display: none;
}
#sideNav_wrapper {
  position: fixed;
  top: 45%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  #sideNav {
    list-style-type: none;

    li {
      text-align: left;
      margin: 10px 0px 10px 0px;
      border-radius: 4px;
      border: 2px solid white;
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      padding: 15px 15px 15px 15px;

      &:nth-child(n + 1) {
        background-color: #b1ae4f;
        -webkit-transition: background-color 0.1s ease-in-out;
        -o-transition: background-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          background-color: darken(#b1ae4f, 5%);
        }
      }
      &:nth-child(n + 2) {
        background-color: #fecd42;
        -webkit-transition: background-color 0.1s ease-in-out;
        -o-transition: background-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          background-color: darken(#fecd42, 5%);
        }
      }
      &:nth-child(n + 3) {
        background-color: #e89698;
        -webkit-transition: background-color 0.1s ease-in-out;
        -o-transition: background-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          background-color: darken(#e89698, 5%);
        }
      }
      &:nth-child(n + 4) {
        background-color: #3684b4;
        -webkit-transition: background-color 0.1s ease-in-out;
        -o-transition: background-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          background-color: darken(#3684b4, 5%);
        }
      }
      a {
        text-decoration: none;
        border-bottom: 1px solid white;
        color: white;
        font-size: 1.5em;
        font-family: $bahnschrift_font;
        letter-spacing: 0.15em;
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*                                  Global footer                                   */
/* -------------------------------------------------------------------------------- */
#page_footer_wrapper {
  padding: 10px;
  #pagefooter {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 4px solid white;

    p {
      text-align: left;
      color: white;
    }
    a {
      float: right;
      margin-right: 40px;
      margin-top: -10px;
    }
  }
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* --------------------------------- Media queries ---------------------------------*/
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@media screen and (min-width: 100px) {

  #wrapper_about {
    float: none;
    text-align:center;
  }
  #textwrap {
    float:right;
  }
}

@media screen and (min-width: 620px) {

  #wrapper_about {
    img {
      float:left;
      padding-right:20px;
    }
  }

  #textwrap {
    float:none;
  }

  #page__home--section__one {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 20px;
    column-gap: 20px;

    section {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
    }
  }
}
@media screen and (min-width: 740px) {
  #page__home--section__four {
    .row {
      .column {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
    }
  }
  #page__categories {
    .categories_section_five {
      #row {
        flex-direction: row;

        .blue-column {
          .fb-page {
            float: left;
          }
        }
      }
    }
  }
}
@media (min-width: 960px) {
  #page__home--section__one {
    column-count: 1;

    #textwrap {
      float:none;
    }
    #wrapper_about {
      column-count:1;
      text-align: justify;
    }
    #temporary {
      column-count:1;
    }
  }
}
@media screen and (max-width: 500px) {
  #pagefooter {
    p {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 0.9em;
    }
    a {
      margin-top: -17px;
      margin-right: 10px;
    }
  }

  #page__home--section__three {
    .some-page-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .row {
        .column {
          margin-top: 40px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
    }
  }

  #page__categories {
    .categories_section_one {
      .category_title {
        font-size: 3em;
      }
    }
  }


  #page_donations {
    #wrapper_content {
      table {
        #header {
          font-size: 12px;
        }

        tr {
          th {
            padding: 5px;
          }
          td {
            font-size: 12px;
            margin: 0;
            border: none;
            padding: 5px;
          }
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .left-div,
  .right-div {
    max-width: 100%;
  }
  #page__home--section__three {
    .title {
      text-align: center;
    }
  }
  #search_wrapper {
    margin-top: 80px;

    .featured_article {
      .title {
        font-size: 1.3em;
      }
      .article_container {
        .post-thumb-wrap {
          .imgTitle {
            font-size: 1em;
          }
        }
      }
    }
  }
  #page__home--section__four {
    .green-column {
      .top_article_title {
        text-align: center;
      }
    }
  }
  #page__categories {
    .categories_section_five {
      .green-column {
        .top_article_title {
          text-align: center;
        }
      }
    }
    .categories_section_one {
      .search_wrap {
        form {
          width: 100%;
          label {
            display: block;
          }
          input[type="text"] {
            display: block;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }
    }
    .categories_section_two {
      #top_articles_title {
        text-align: center;
        padding-left: 0px;
      }
    }
    .categories_section_four {
      #top_articles_title {
        text-align: center;
        padding-left: 0px;
      }
    }
    .categories_section_three {
      .featured_article {
        .title {
          text-align: center;
          padding-left: 0px;
        }

        .post-thumb {
          float: none;
          margin: 0 auto;
          width: 100%;

          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .news_wrapper {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 970px) {
  #page__categories {
    .categories_section_two {
      #top_articles_title {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 989px) {
  #menuBtn {
    display: block;
    outline: none;
    border: none;
    position: fixed;
    right: 2%;
    bottom: 2%;
    background: #3a668e;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    color: white;
    z-index: 9999999999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
@media only screen and (max-width: 990px) {
  .donate_wrapper {
    img {
      float: none;
    }
  }
  #search_wrapper {
    margin-top: 100px;
  }
  #page__home--section__one {
    padding-top: 100px;
  }

  #page__home--section__three {
    .some-page-wrapper {
      .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        .column {
          max-width: none;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .img {
            height: 150px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1500px) {
  #sideNav_wrapper {
    -webkit-backface-visibility: hidden;
    margin: none;
    background: none;
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
    z-index: 1000;
    width: 100%;
    max-width: 990px;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;

    #sideNav {
      left: 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 2px;
      display: inline-block;
      li {
        border-radius: 4px;
        border: 2px solid white;
        text-align: center;
        margin: 0px 0px 0px 0px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        padding: 10px;
        width: 24%;
        a {
          font-size: 1.5vw;
        }
      }
    }
  }
}
@media print {
  #sideNav_wrapper {
    display: none;
  }
}
