@font-face {
  font-family: "Bahnschrift Regular";
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: local("Bahnschrift Regular"),
    url("../fonts/BAHNSCHRIFT.woff") format("woff");
    
}
$bahnschrift_font: "Bahnschrift Regular";

$TextColor: #3a668e;
$academic: #b1ae4f;
$integrative: #fecd42;
$alternative: #e89698;
$experiences: #3684b4;

/* CSS FOR A SINGLE ARTICLE */

.single_section_one {
  #wrapper_article {
    padding: 10px;
    max-width: 960px;
    min-height: 400px;
    margin: 0 auto;
    //margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    box-sizing: border-box;
    .post_title {
      padding: 10px;
      background: none;
      $bahnschrift_font: "Bahnschrift Regular";
      font-size: 1.5em;
      text-align: left;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 100;

      u {
        text-decoration: none;
        border-bottom: 1px solid white;
      }

      &::first-letter {
        font-size: 1.5em;
      }
    }

    .post {
      border-radius: 8px;
      min-height: 400px;
      height: auto;
      max-width: 960px;
      width: auto;
      background: none;
      text-align: left;
      background: white;
      padding: 5px;
      box-sizing: border-box;
      color: #3a6b96;

      #img {
        width: 100%;
        height: 500px;
        padding: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      .contentContainer {
        width: 95%;
        padding-left: 15px;
        padding-top: 15px;
        box-sizing: border-box;
        font-size: 1.3em;

        .post_published {
          $bahnschrift_font: "Bahnschrift Regular";
          color: lightgray;
          font-style: italic;
          float: right;
        }
        .post_content {
          font-family: "Bahnschrift Regular";
          text-align: left;

          .subtitle {
            text-align: left;
            color: $TextColor;
            font-size: 1.4em;
            font-family: "Bahnschrift Regular";
            text-transform: uppercase;
            margin-top: 30px;

            &::first-letter {
              font-size: 150%;
            }
          }
          .further_reading {
            font-size: 1.1em;
            text-transform: uppercase;
          }

          p,
          a {
            text-decoration: none;
          }
          a{
            color: lighten($TextColor,30%);
            transition: color .1s ease-in-out; 
            &:hover {
              color: darken($TextColor, 10%);
            }
          }
          .iframe-container{
            padding-top: 60px;
          }
          img {
            max-width: 195px;
          }
        }
      }

      
      .shareKnowledge {
        padding-left: 10px;
        padding-bottom: 10px;

        .shareTheKnowledge {
          display: inline-block;
          margin-top: 20px;
          color: $TextColor;
          $bahnschrift_font: "Bahnschrift Regular";
          font-weight: lighter;
          font-size: 1.2em;
        }
      }
    }
  }
}
.single_section_two {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 10px;

  #related_tags_title {
    color: white;
    $bahnschrift_font: "Bahnschrift Regular";
    text-transform: uppercase;
    font-weight: lighter;
    text-shadow: -2px 2px 6.8px rgba(0, 0, 0, 0.26);
    font-size: 1.3em;
    text-align: left;
    padding-left: 10px;

    &::first-letter {
      font-size: 150%;
    }

    u {
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }

  #tags {
    list-style-type: none;
    align-items: left;
    text-align: left;

    li {
      display: inline-block;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 6px;
      color: $TextColor;
      background: #ffffff;
      font-weight: 600;
      font-size: 1.2em;
      box-shadow: -2px 2px 6.8px 3.2px rgba(0, 0, 0, 0.26);


      a {
        text-decoration: none;
        color: $TextColor;
      }
    }
  }
}
.single_section_three {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 100px;

  #related_articles_title {
    padding-left: 10px;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
    font-family: $bahnschrift_font;
    font-weight: lighter;
    text-shadow: -2px 2px 6.8px rgba(0, 0, 0, 0.26);
    text-align: left;
    font-size: 2em;

    u {
      text-decoration: none;
      border-bottom: 1px solid white;
    }
    &::first-letter {
      font-size: 150%;
    }
  }

  .some-page-wrapper {
    display: flex;
    font-size: 1.2em;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      .column {
        box-sizing: border-box;
        margin: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: none;
        height: 250px;
        border: 4px solid white;
        border-radius: 10px;
        min-width: 300px;

        .top {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          height: 55%;
          background: url("../images/placeholders/placeholder.jpg");
          width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .bottom {
          height: 45%;
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          overflow: hidden;
          text-align: left;

          a {
            text-decoration: none;
            color: white;
            font-family: $bahnschrift_font;
            text-align: left;
            text-transform: uppercase;
          }
          .excerpt {
            color: white;
            font-size: 0.7em;
            max-height: 45px;
            overflow: hidden;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      .Academic {
        background: $academic;
      }
      .Integrative {
        background: $integrative;
      }
      .Alternative {
        background: $alternative;
      }
      .Experiences {
        background: $experiences;
      }
      .News {
        background: lighten($experiences, 25%);
      }
    }
  }
}
@media screen and (max-width: 600px) {

  

  .single_section_one {
    #wrapper_article {
      .post_title {
        font-size: 1em;
      }
      .post {
        #img {
          height: 250px;
        }
        .contentContainer {
          font-size: 1em;
          .post_content {
            .subtitle {
              font-size: 1.5em;
            }
            .further_reading {
              font-size: 1em;
            }
          }
          .iframe-container{
            iframe {
              width: 300px;  
              height: 180px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 620px) {
  #related_articles {
    .column {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .single_section_one {
    padding-top: 80px;
  }
}
