@import url('https://fonts.googleapis.com/css?family=Signika:300,400');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Signika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	background: #F7F7F7;
}

.selectedTags {
	background: green;
	color:white;
}
.unselectedTags {
	background: #EEE;
	color: black;
}
.tags {
	
	list-style-type: none;

	li {
		display: inline-block;
		padding: 5px;
		border-radius: 4px;
		margin-left:10px;
		margin-top:10px;
		transition: background .2s ease;

		&:hover {
			cursor: pointer;
			background: #aaa;
		}
	}
	
}

.navtop_container {

		height: 80px;
		padding: 10px;
		box-sizing: border-box;
		background:#37465B;
		height: 100%;


		ul {
			list-style-type: none;
			li {
				display: inline-block;
				color: #98A4BD;
				background-color:#37465B;
				margin-top: 10px;
				padding: 10px;
				border-radius: 10px;
				transition: background-color .2s linear;
				a {
					color:inherit;
					font-weight: bold;
					text-decoration: none;

				}

				&:hover {
					color: white;
					background-color: #41ABDB;
				}
			}
		}
		
}


.content {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 50px;
		
	h2 {
		margin: 0;
		padding: 25px 0;
		font-size: 22px;
		border-bottom: 1px solid #e0e0e3;
		color: #4a536e;
	}

	form {
		box-sizing: border-box;
		padding: 20px;

		h1 {
			margin-top: 50px;
			color: #4a536e;
		}

		input, textarea, select {
			margin-top: 8px;
			width: 100%;
			outline: none;
			border: 1px solid rgba(0,0,0,0.2);
			background: #FFF;
			padding: 5px;
			border-radius: 8px;
			box-sizing: border-box;
		}

		p {
			font-weight: lighter;
			color: rgba(0,0,0,0.3);
		}
		textarea {
			resize: vertical;
			min-height: 180px;
		}$color_1: black;
		$font_family_1: 'Candal';
		$border_color_1: #8c8c8c;
		
		a {
			cursor: pointer;
		}
		#editor, #editor_se, #editor_fi {
			box-shadow: 0 0 2px #CCC;
			background: #fff;
			min-height: 350px;
			overflow: auto;
			padding: 1em;
			margin-top: 20px;
			resize: vertical;
			outline: none;
		}
		.toolbar {
			text-align: center;
			a {
				border: 1px solid #AAA;
				background: #FFF;
				font-family: $font_family_1;
				border-radius: 1px;
				color: $color_1;
				padding: 5px;
				width: 1.5em;
				margin: -2px;
				margin-top: 10px;
				display: inline-block;
				text-decoration: none;
				box-shadow: 0px 1px 0px #CCC;
				&:hover {
					background: #f2f2f2;
					border-color: $border_color_1;
				}
			}
		}
		
		a[data-command='redo'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='strikeThrough'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='justifyFull'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='insertOrderedList'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='outdent'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='p'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='superscript'] {
			margin-right: 5px;
			border-radius: 0 3px 3px 0;
		}
		a[data-command='undo'] {
			border-radius: 3px 0 0 3px;
		}
		a[data-command='justifyLeft'] {
			border-radius: 3px 0 0 3px;
		}
		a[data-command='insertUnorderedList'] {
			border-radius: 3px 0 0 3px;
		}
		a[data-command='indent'] {
			border-radius: 3px 0 0 3px;
		}
		a[data-command='h1'] {
			border-radius: 3px 0 0 3px;
		}
		a[data-command='subscript'] {
			border-radius: 3px 0 0 3px;
		}
		a.palette-item {
			height: 1em;
			border-radius: 3px;
			margin: 2px;
			width: 1em;
			border: 1px solid #CCC;
			&:hover {
				border: 1px solid #CCC;
				box-shadow: 0 0 3px #333;
			}
		}
		
		

		#dateNow_ {
			width: 10%;
			float:right;
		}
		#published {
			display: inline-block;
			width: 60%;
		}
		input[type="submit"] {
			background: #37465B;
			color: white;
			text-transform: uppercase;

			&:hover {
				cursor: pointer;
			}
		}

		#tagSelector {
			border-radius: 8px;
			border: 1px solid rgba(0,0,0,0.3);	
			list-style-type: none;

			li {
				margin-left: 5px;
				margin-top: 5px;
				text-align: center;
				text-transform: uppercase;
				background: #EEE;
				border-radius: 4px;
				display: inline-block;
			}
		}
	}

	.tagHolder {
		#tags {
		list-style-type: none;

		li {
			display: inline-block;
			background: #eee;
			padding: 5px;
			border-radius: 4px;
			margin-left:10px;
			margin-top:10px;
			transition: background .2s ease;

			&:hover {
				cursor: pointer;
				background: #aaa;
			}
			}
		}
	}
}
.content > p, .content > div {
	
	border-top:4px solid #3C8DBC;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.action {
    text-decoration: none;
	color: #4a536e;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
.delBtn {
    outline: none;
    border: none;
    background: none;
    color: tomato;
    font-weight: bold;
    
    &:hover {
        cursor:pointer;
    }
}
.footer {
	height: 100px;
	background: #aaa;
}


