* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    width: 100%;
    height: 100%;
}
body {

    background-color: #78b0ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235891e4'/%3E%3Cstop offset='1' stop-color='%235891e4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236c5ddc'/%3E%3Cstop offset='1' stop-color='%236c5ddc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235c50ad'/%3E%3Cstop offset='1' stop-color='%235c50ad' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2378b0ff'/%3E%3Cstop offset='1' stop-color='%2378b0ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234875b8'/%3E%3Cstop offset='1' stop-color='%234875b8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238859a1'/%3E%3Cstop offset='1' stop-color='%238859a1' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}
#logo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
    opacity: 0.3;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    

    h1 {
        text-align: center;
        color: #5b6574;
        font-size: 24px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dee0e4;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;padding-top: 20px;
    }
    
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #598FDD;
        color: #ffffff;
        }

    input[type="password"], input[type="text"] {
        width: 310px;
        height: 50px;
        border: 1px solid #dee0e4;
        margin-bottom: 20px;
        padding: 0 15px;
    }
    
    input[type="submit"] {
        width: 360px;
        padding: 15px;
        margin-top: 20px;
        background-color: #598FDD;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
        transition: background-color 0.2s;
    }

    input[type="submit"]:hover {
        background-color: darken(#598FDD,10%);
        transition: background-color 0.2s;
        }
    .forgotpassword {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        background-color: #F2F2F2;
        border: 0;
        cursor: pointer;
        font-weight: light;
        transition: background-color 0.2s;
        
        a {
            color: rgba(0,0,0,0.2);
            text-decoration: none;

            &:hover {
                color: rgba(0,0,0,0.6);
                transition: color 0.2s;
            }
        }
    }
    }