@import url("https://fonts.googleapis.com/css?family=Signika:300,400");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #F7F7F7; }

.selectedTags {
  background: green;
  color: white; }

.unselectedTags {
  background: #EEE;
  color: black; }

.tags {
  list-style-type: none; }
  .tags li {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
    transition: background .2s ease; }
    .tags li:hover {
      cursor: pointer;
      background: #aaa; }

.navtop_container {
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  background: #37465B;
  height: 100%; }
  .navtop_container ul {
    list-style-type: none; }
    .navtop_container ul li {
      display: inline-block;
      color: #98A4BD;
      background-color: #37465B;
      margin-top: 10px;
      padding: 10px;
      border-radius: 10px;
      transition: background-color .2s linear; }
      .navtop_container ul li a {
        color: inherit;
        font-weight: bold;
        text-decoration: none; }
      .navtop_container ul li:hover {
        color: white;
        background-color: #41ABDB; }

.content {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 50px; }
  .content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e; }
  .content form {
    box-sizing: border-box;
    padding: 20px; }
    .content form h1 {
      margin-top: 50px;
      color: #4a536e; }
    .content form input, .content form textarea, .content form select {
      margin-top: 8px;
      width: 100%;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: #FFF;
      padding: 5px;
      border-radius: 8px;
      box-sizing: border-box; }
    .content form p {
      font-weight: lighter;
      color: rgba(0, 0, 0, 0.3); }
    .content form textarea {
      resize: vertical;
      min-height: 180px; }
    .content form a {
      cursor: pointer; }
    .content form #editor, .content form #editor_se, .content form #editor_fi {
      box-shadow: 0 0 2px #CCC;
      background: #fff;
      min-height: 350px;
      overflow: auto;
      padding: 1em;
      margin-top: 20px;
      resize: vertical;
      outline: none; }
    .content form .toolbar {
      text-align: center; }
      .content form .toolbar a {
        border: 1px solid #AAA;
        background: #FFF;
        font-family: "Candal";
        border-radius: 1px;
        color: black;
        padding: 5px;
        width: 1.5em;
        margin: -2px;
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;
        box-shadow: 0px 1px 0px #CCC; }
        .content form .toolbar a:hover {
          background: #f2f2f2;
          border-color: #8c8c8c; }
    .content form a[data-command='redo'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='strikeThrough'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='justifyFull'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='insertOrderedList'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='outdent'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='p'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='superscript'] {
      margin-right: 5px;
      border-radius: 0 3px 3px 0; }
    .content form a[data-command='undo'] {
      border-radius: 3px 0 0 3px; }
    .content form a[data-command='justifyLeft'] {
      border-radius: 3px 0 0 3px; }
    .content form a[data-command='insertUnorderedList'] {
      border-radius: 3px 0 0 3px; }
    .content form a[data-command='indent'] {
      border-radius: 3px 0 0 3px; }
    .content form a[data-command='h1'] {
      border-radius: 3px 0 0 3px; }
    .content form a[data-command='subscript'] {
      border-radius: 3px 0 0 3px; }
    .content form a.palette-item {
      height: 1em;
      border-radius: 3px;
      margin: 2px;
      width: 1em;
      border: 1px solid #CCC; }
      .content form a.palette-item:hover {
        border: 1px solid #CCC;
        box-shadow: 0 0 3px #333; }
    .content form #dateNow_ {
      width: 10%;
      float: right; }
    .content form #published {
      display: inline-block;
      width: 60%; }
    .content form input[type="submit"] {
      background: #37465B;
      color: white;
      text-transform: uppercase; }
      .content form input[type="submit"]:hover {
        cursor: pointer; }
    .content form #tagSelector {
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      list-style-type: none; }
      .content form #tagSelector li {
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        text-transform: uppercase;
        background: #EEE;
        border-radius: 4px;
        display: inline-block; }
  .content .tagHolder #tags {
    list-style-type: none; }
    .content .tagHolder #tags li {
      display: inline-block;
      background: #eee;
      padding: 5px;
      border-radius: 4px;
      margin-left: 10px;
      margin-top: 10px;
      transition: background .2s ease; }
      .content .tagHolder #tags li:hover {
        cursor: pointer;
        background: #aaa; }

.content > p, .content > div {
  border-top: 4px solid #3C8DBC;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff; }

.action {
  text-decoration: none;
  color: #4a536e; }

.content > p table td, .content > div table td {
  padding: 5px; }

.content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px; }

.content > div p {
  padding: 5px;
  margin: 0 0 10px 0; }

.delBtn {
  outline: none;
  border: none;
  background: none;
  color: tomato;
  font-weight: bold; }
  .delBtn:hover {
    cursor: pointer; }

.footer {
  height: 100px;
  background: #aaa; }

/*# sourceMappingURL=dashboard.css.map */
